1. Obtener el costo medio de un Big Mac en los países seleccionados.
2. Encontrar el valor medio de la muestra. Observar los datos, ¿hay valores atípicos?
3. ¿Cuál es el precio más común del Big Mac?
4. ¿Cuánto varían los precios en relación con el valor medio o promedio?
5. Graficar en un histograma los datos. Agregar etiquetas y títulos al gráfico.

In [1]:
import pandas as pd
data = pd.read_csv("./BigMacIndex.csv", sep=";", decimal=",") # El segundo parámetro es porque el archivo original está separado por (;) y no por comas
# El tercer parámetro es para que "entienda" que los decimales están con comas (y no con puntos)
data.head(5)

,Country,Big Mac Index 2024,Difference from US,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,Switzerland,8.07,"41,83%",NaN,NaN,NaN
1,Uruguay,7.07,"24,25%",NaN,NaN,NaN
2,Norway,6.77,"18,98%",NaN,NaN,NaN
3,Argentina,6.55,"15,11%",NaN,NaN,NaN
4,United Kingdom,5.90,"3,69%",NaN,NaN,NaN

In [2]:
data.dtypes

Country                object
Big Mac Index 2024    float64
Difference from US     object
Unnamed: 3            float64
Unnamed: 4            float64
Unnamed: 5            float64
dtype: object

In [3]:
data["Difference from US"]

0      41,83%
1      24,25%
2      18,98%
3      15,11%
4       3,69%
5       0,00%
6      -0,53%
7      -1,23%
8      -1,58%
9      -2,99%
10     -7,38%
11     -9,67%
12    -10,37%
13    -11,07%
14    -11,07%
15    -12,30%
16    -12,65%
17    -12,65%
18    -13,88%
19    -13,88%
20    -17,75%
21    -18,63%
22    -19,51%
23    -20,04%
24    -20,21%
25    -20,56%
26    -20,74%
27    -23,73%
28    -25,66%
29    -27,77%
30    -29,70%
31    -29,88%
32    -30,23%
33    -31,46%
34    -32,34%
35    -32,86%
36    -33,39%
37    -36,38%
38    -37,26%
39    -37,96%
40    -37,96%
41    -37,96%
42    -43,94%
43    -47,10%
44    -48,33%
45    -49,56%
46    -49,74%
47    -49,74%
48    -49,91%
49    -51,67%
50    -56,59%
51    -56,77%
52    -59,93%
53        NaN
Name: Difference from US, dtype: object

In [4]:
data["Difference from US"].str.replace("%", "")
# Acá saqué el símbolo de porcentaje, pero es una copia (no el original)

data["Difference from US"] = data["Difference from US"].str.replace("%", "")
# Acá reasigné la columna modificada, o sea que modifiqué el dataframe original (no el archivo .csv sino lo que tengo en memoria)

In [5]:
data["Difference from US"] = data["Difference from US"].str.replace(",", ".").astype(float)
# Cambié las comas por puntos en los porcentajes para convertirlos a flotantes

In [6]:
data

,Country,Big Mac Index 2024,Difference from US,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,Switzerland,8.07,41.83,NaN,NaN,NaN
1,Uruguay,7.07,24.25,NaN,NaN,NaN
2,Norway,6.77,18.98,NaN,NaN,NaN
3,Argentina,6.55,15.11,NaN,NaN,NaN
4,United Kingdom,5.90,3.69,NaN,NaN,NaN
5,United States,5.69,0.00,NaN,NaN,NaN
6,Denmark,5.66,-0.53,NaN,NaN,NaN
7,Costa Rica,5.62,-1.23,NaN,NaN,NaN
8,Sweden,5.60,-1.58,NaN,NaN,NaN
9,Canada,5.52,-2.99,NaN,NaN,NaN
10,Poland,5.27,-7.38,NaN,NaN,NaN
11,Lebanon,5.14,-9.67,NaN,NaN,NaN
12,Mexico,5.10,-10.37,NaN,NaN,NaN
13,Saudi Arabia,5.06,-11.07,NaN,NaN,NaN
14,Australia,5.06,-11.07,NaN,NaN,NaN
15,New Zealand,4.99,-12.30,NaN,NaN,NaN
16,Venezuela,4.97,-12.65,NaN,NaN,NaN
17,Singapore,4.97,-12.65,NaN,NaN,NaN
18,Colombia,4.90,-13.88,NaN,NaN,NaN
19,United Arab Emirates,4.90,-13.88,NaN,NaN,NaN
20,Turkey,4.68,-17.75,NaN,NaN,NaN
21,Czech Republic,4.63,-18.63,NaN,NaN,NaN
22,Kuwait,4.58,-19.51,NaN,NaN,NaN
23,Peru,4.55,-20.04,NaN,NaN,NaN
24,Chile,4.54,-20.21,NaN,NaN,NaN
25,Israel,4.52,-20.56,NaN,NaN,NaN
26,Bahrain,4.51,-20.74,NaN,NaN,NaN
27,Nicaragua,4.34,-23.73,NaN,NaN,NaN
28,Brazil,4.23,-25.66,NaN,NaN,NaN
29,Honduras,4.11,-27.77,NaN,NaN,NaN
30,Guatemala,4.00,-29.70,NaN,NaN,NaN
31,South Korea,3.99,-29.88,NaN,NaN,NaN
32,Oman,3.97,-30.23,NaN,NaN,NaN
33,Hungary,3.90,-31.46,NaN,NaN,NaN
34,Qatar,3.85,-32.34,NaN,NaN,NaN
35,Pakistan,3.82,-32.86,NaN,NaN,NaN
36,Thailand,3.79,-33.39,NaN,NaN,NaN
37,Azerbaijan,3.62,-36.38,NaN,NaN,NaN
38,Moldova,3.57,-37.26,NaN,NaN,NaN
39,China,3.53,-37.96,NaN,NaN,NaN
40,Romania,3.53,-37.96,NaN,NaN,NaN
41,Jordan,3.53,-37.96,NaN,NaN,NaN
42,Japan,3.19,-43.94,NaN,NaN,NaN
43,Vietnam,3.01,-47.10,NaN,NaN,NaN
44,Hong Kong,2.94,-48.33,NaN,NaN,NaN
45,Ukraine,2.87,-49.56,NaN,NaN,NaN
46,Philippines,2.86,-49.74,NaN,NaN,NaN
47,Malaysia,2.86,-49.74,NaN,NaN,NaN
48,South Africa,2.85,-49.91,NaN,NaN,NaN
49,India,2.75,-51.67,NaN,NaN,NaN
50,Egypt,2.47,-56.59,NaN,NaN,NaN
51,Indonesia,2.46,-56.77,NaN,NaN,NaN
52,Taiwan,2.28,-59.93,NaN,NaN,NaN
53,Sri Lanka,NaN,NaN,NaN,NaN,NaN

In [ ]:
data.iloc[:,3:].notna().value_counts()
# Acá verificamos que las últimas tres columnas están vacías

Unnamed: 3  Unnamed: 4  Unnamed: 5
False       False       False         54
Name: count, dtype: int64

In [ ]:
data = data.iloc[:,:3]
data
# Acá sobreescribimos "data" con un slice (sacamos las últimas tres columnas, que estaban vacías)

                 Country  Big Mac Index 2024  Difference from US
0            Switzerland                8.07               41.83
1                Uruguay                7.07               24.25
2                 Norway                6.77               18.98
3              Argentina                6.55               15.11
4         United Kingdom                5.90                3.69
5          United States                5.69                0.00
6                Denmark                5.66               -0.53
7             Costa Rica                5.62               -1.23
8                 Sweden                5.60               -1.58
9                 Canada                5.52               -2.99
10                Poland                5.27               -7.38
11               Lebanon                5.14               -9.67
12                Mexico                5.10              -10.37
13          Saudi Arabia                5.06              -11.07
14             Australia                5.06              -11.07
15           New Zealand                4.99              -12.30
16             Venezuela                4.97              -12.65
17             Singapore                4.97              -12.65
18              Colombia                4.90              -13.88
19  United Arab Emirates                4.90              -13.88
20                Turkey                4.68              -17.75
21        Czech Republic                4.63              -18.63
22                Kuwait                4.58              -19.51
23                  Peru                4.55              -20.04
24                 Chile                4.54              -20.21
25                Israel                4.52              -20.56
26               Bahrain                4.51              -20.74
27             Nicaragua                4.34              -23.73
28                Brazil                4.23              -25.66
29              Honduras                4.11              -27.77
30             Guatemala                4.00              -29.70
31           South Korea                3.99              -29.88
32                  Oman                3.97              -30.23
33               Hungary                3.90              -31.46
34                 Qatar                3.85              -32.34
35              Pakistan                3.82              -32.86
36              Thailand                3.79              -33.39
37            Azerbaijan                3.62              -36.38
38               Moldova                3.57              -37.26
39                 China                3.53              -37.96
40               Romania                3.53              -37.96
41                Jordan                3.53              -37.96
42                 Japan                3.19              -43.94
43               Vietnam                3.01              -47.10
44             Hong Kong                2.94              -48.33
45               Ukraine                2.87              -49.56
46           Philippines                2.86              -49.74
47              Malaysia                2.86              -49.74
48          South Africa                2.85              -49.91
49                 India                2.75              -51.67
50                 Egypt                2.47              -56.59
51             Indonesia                2.46              -56.77
52                Taiwan                2.28              -59.93
53             Sri Lanka                 NaN                 NaN

In [30]:
data = data.dropna()
# Este método saca cualquier fila donde algún valor de alguna columna esté vacío (en este caso, solo la última)
# axis=0 son las filas (por defecto), axis=1 son las columnas